/* --- DEFAULTS --- */

h1 {
    font-family: monospace;
}

p, ul li, #close-btn, label, #message, #email, #submit-btn, #letter, #back-btn {
    font-family: monospace;
    font-size: 18px;
    color: #560452;
}

#close-btn, #submit-btn, #back-btn {
    cursor: pointer;
}

#message, #email {
    cursor: text;
}

footer p, a {
    color: #ffd0fd;
}


/* --- OVERLAY --- */

#overlay {
    position: absolute;
    background-color: #FFE2FF;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay article {
    position: absolute;
    top: 77px;
    left: 20px;
    width: 90vw;
    box-sizing: border-box;
    background-color:#fff;
    padding: 30px 20px 20px 20px;
    border-radius: 5px;
    transition-duration: .3s;
}

#overlay article:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #ff91fa;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#close-btn {
    display: block;
    margin-left: auto;
    padding: 5px 5px 5px 9px;
    background-color: #ff9efa;
    color: white;
    border: 1px solid #ff91fa;
    border-radius: 2px;
    transition-duration: 0.2s;
}

#close-btn:hover {
    background-color: white;
    color: #ff9efa;
}


/* --- HEADER --- */

#info-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    font-size: 1.4em;
    color: #ff9efa;
    transition-duration: .3s;
}

#info-btn:hover {
    transform: scale(1.02);
    color: 0 0 20px white;
}

header {
    margin-top: 160px;
    text-align: center;
}


/* --- FORM --- */

#form-flower {
    position: absolute;
    top: 350px;
    left: 31px;
    width: 50%;
    z-index: -99;
    opacity: .3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
    max-width: 330px;
}

#message {
    padding: 5px;
    background-color: rgb(252, 252, 252, 0);
    border: 1px solid #ffcafc;
    border-radius: 3px;
}

#message:focus {
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px #ff91fa;
}

#email {
    margin-top: 30px;
    padding: 5px;
    border: 1px solid #ffcafc;
    border-radius: 3px;
}

#email:focus {
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 20px #ff91fa;
}

input::placeholder, textarea::placeholder {
    color: #ffbcfc;
}

#submit-btn {
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #ff91fa;
    border-radius: 2px;
    background-color: #ff9efa;
    color: white;
    transition-duration: .3s;
}

#submit-btn:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #ff91fa;
}


/* --- LETTER --- */

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px 20px 0 20px;
}

main article {
    max-height: 80vh;
    padding: 20px 30px 20px 30px;
    border: solid 2px #ff91fa;
    border-radius: 3px;
    line-height: 1.2em;
    overflow: scroll;
}

#letter {
    margin: 0 7px 0 7px;
}

#back-btn {
    position: absolute;
    right: 7px;
    bottom: 12px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #ff91fa;
    border-radius: 2px;
    background-color: white;
    color: #ff9efa;
    transition-duration: 0.3s;
}

#back-btn:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #ff91fa;
}


/* --- FOOTER --- */

#letter-flower1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -99;
    rotate: 180deg;
    opacity: .7;
}

#letter-flower2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: -99;
    opacity: .7;
}

footer {
    position: absolute;
    left: 27%;
    bottom: 0;
    font-size: .9em;
}

.greeting {
    display: block;
    margin-top: 30px;
}

.signature {
    display: block;
    margin-left: auto;
    text-align: right;
    line-height: 1.5em;
}

.pink {
    color: #fc72f5;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 100;
}

@media screen and (min-width: 480px) {

    p, ul li, #close-btn, label, #message, #email, #submit-btn, #letter, #back-btn {
        font-size: 18px;
    }
    
    #overlay article {
        min-width: 300px;
        max-width: 700px;
        padding: 30px 50px 30px 50px;
    }

    #info-btn {
        font-size: 2em;
    }

    header {
        margin: auto;
        margin-top: 52px;
    }

    header p {
        line-height: .7em;
    }

    #form-flower {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        z-index: -99;
        opacity: .3;
        rotate: 90deg;
    }

    form {
        max-width: 555px;
        margin: 44px 0 0 299px;
        padding: 2px 22px 22px 22px;
        background-color: rgb(255, 208, 253, .2);
        border-radius: 6px;
    }

    #message {
        padding: 9px;
        background-color: rgb(252, 252, 252);
        border: 1px solid #ffcafc;
        border-radius: 3px;
    }

    main {
        gap: 15px;
        margin: 40px 20px 0 20px;
    }

    main article {
        max-height: 77vh;
        padding: 33px 55px 33px 55px;
        background-color: rgb(255, 255, 255, .6);
        border: solid 2px #ff91fa;
        border-radius: 3px;
        overflow: scroll;
    }

    main article p {
        font-size: 22px;
        line-height: 1.3em;
    }

    #letter {
        margin: 44px 33px 44px 33px;
    }

    #back-btn {
        right: 44px;
        border: 2px solid #ff91fa;
    }

    #letter-flower1 {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: -99;
        rotate: 180deg;
        opacity: .2;
    }

    #letter-flower2 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        z-index: -99;
        opacity: .2;
    }

    footer {
        left: 44%;
        width: 50%;
    }

    .signature {
        line-height: 1.7em;
    }

}